@import "../../utils/colors.scss";

.custom-input-container {
  position: relative;
  width: max-content;

  > span {
    position: absolute;
    top: 6px;
    left: 6px;
  }
  .custom-input {
    outline: none;
    padding: 0.5rem 1rem;
    background-color: $primary-dark;
    border: 1px solid $primary-gray;
    border-radius: 5px;
    color: $white;
    resize: none;

    &:focus {
      border: 2px solid $secondary-gray;
      background-color: $primary-dark;
    }
  }

  .custom-input:-webkit-autofill,
  .custom-input:-webkit-autofill:hover,
  .custom-input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 30px $primary-dark inset !important;
    -webkit-text-fill-color: $white !important;
  }
  .input-with-icon {
    padding-left: 1.6rem;
  }
}
