@import "../../utils/colors.scss";

.create-post-container {
  border-bottom: 1px solid $primary-gray;
  padding: 1rem 0.6rem;
  display: flex;
  justify-content: space-between;
  column-gap: 0.8rem;

  .create-post-form {
    display: flex;
    flex-direction: column;
    row-gap: 0.5rem;
    width: 100%;
    overflow: hidden;
    .create-post-textbox {
      width: 100%;
      textarea {
        width: 100%;
        padding: 0.6rem;
        border: none;
        border-bottom: 1px solid $primary-gray;
        border-radius: 0;
      }
    }

    .post-img-container {
      img {
        width: 100%;
      }
      svg {
        cursor: pointer;
        font-size: 1.5rem;
      }
    }

    .bottom-container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .icon-container {
        display: flex;
        column-gap: 0.6rem;
        align-items: center;

        > svg:hover {
          cursor: pointer;
          color: $primary-blue;
          font-size: large;
        }
      }
    }
  }
}
