@import "../../utils/colors.scss";

.home-page {
  .header {
    border-bottom: 1px solid $primary-gray;
    padding: 0.6rem;
    display: flex;
    justify-content: space-evenly;
    > span {
      cursor: pointer;
    }
    .selected {
      border-bottom: 3px solid $primary-blue;
    }
  }
}
