@import "../../utils//colors.scss";

.credit-text {
  font-weight: 600;
  background: $primary-gradient;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
