$primary-gray: rgb(150, 150, 150);
$secondary-gray: rgb(190, 190, 190);
$highlight-gray: rgb(80, 80, 80);
$primary-dark: rgb(20,20,20);
$primary-blue: rgb(119, 188, 209);
$white: #ffffff;
$primary-text: #dfa000;
$scroll-track: rgb(70, 70, 70);
$error-red: rgb(255,44,44);
$primary-gradient: linear-gradient(
  90deg,
  $primary-blue -30%,
  $primary-text 100%
);
