.search-page {
  padding: 1rem;

  .search-header {
    .search-users-input {
      width: 100%;

      .input-with-icon {
        width: 100%;
      }
    }
  }
  .search-body{
    margin-top: 1rem;
  }
}
